// Base
// - - - - - - - - - - - - - - - - - - - - - - - - -

$column-gutter: 2rem;


// Colors
// - - - - - - - - - - - - - - - - - - - - - - - - -

$primary-color: #008CBA;
$secondary-color: #e7e7e7;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;


// Body Text Colors
// - - - - - - - - - - - - - - - - - - - - - - - - -

$base-text-color: #000;
$base-text-color-diap: #fff;


// Body Text Fonts
// - - - - - - - - - - - - - - - - - - - - - - - - -

$sans-font: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; 
$serif-font: Georgia, Times, "Times New Roman", serif;


// Heading Fonts
// - - - - - - - - - - - - - - - - - - - - - - - - -

$heading-one: $sans-font;
$heading-two: $sans-font;
$heading-three: $sans-font;
$heading-four: $sans-font;
$heading-five: $sans-font;
$heading-six: $sans-font;


// Media Query Ranges
// - - - - - - - - - - - - - - - - - - - - - - - - -

$small-range: (0em, 40em);
$medium-range: (40.063em, 63em);
$large-range: (63.063em, 90em);
$xlarge-range: (90.063em, 120em);
$xxlarge-range: (120.063em, 99999999em);


// Top Bar Settings
// - - - - - - - - - - - - - - - - - - - - - - - - -

// $topbar-bg-color: #fff;
// $topbar-dropdown-bg: #fff;
// $topbar-dropdown-link-bg: $primary-color;
// $topbar-link-bg-hover: $primary-color;
// $topbar-link-color: $primary-color;
// $topbar-link-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; 
// $topbar-link-text-transform: uppercase;
// $topbar-link-font-size: rem-calc(16);
// $topbar-arrows: false;

// Form Settings
// - - - - - - - - - - - - - - - - - - - - - - - - -

$form-label-font-size: .80em;
$form-label-font-weight: bold;
$form-label-line-height: 1.7;
$form-label-bottom-margin: .6em !important;

// Block Grid
// 
$block-grid-default-spacing: 2rem;

// List Styling

$list-side-margin: 0rem;



// Buttons

$button-tny: .3rem;