@import "_variables";
@import "_components";


// MEDIA EXAMPLES
// - - - - - - - - - - - - - - - - - - - - - - - - -

// @media #{$small-only} {}
// @media #{$medium-only} {}
// @media #{$medium-up} {}


// MAIN
// - - - - - - - - - - - - - - - - - - - - - - - - -

body { display: block; }
div.slider-block { visibility: hidden; }

// HELPERS
// - - - - - - - - - - - - - - - - - - - - - - - - -

.zero-margins { margin: 0 !important;}
.zero-padding { margin: 0 !important;}


// ALIGN FOUNDATION COLUMNS LEFT
// - - - - - - - - - - - - - - - - - - - - - - - - -

[class*="column"]+[class*="column"]:last-child {
    float: left;
}

// HEADER
// - - - - - - - - - - - - - - - - - - - - - - - - -

.inner-wrap > header {
    margin-bottom: 2rem;
    @media #{$small-only} {
        margin-bottom: 1rem;
    }
}


// TOP-BAR ANIMATION
// - - - - - - - - - - - - - - - - - - - - - - - - -

nav.top-bar {
    height: 45px;
    transition: height .33s ease;
}
.top-bar.expanded {
    height: 347px;
    transition: height .33s ease;
}


// INLINE LIST
// - - - - - - - - - - - - - - - - - - - - - - - - -

div.inline ul {
	@include inline-list;
}


// CONTENT BLOCKS - BLOCKS
// - - - - - - - - - - - - - - - - - - - - - - - - -

.action-block.columns { 
    cursor: pointer;
    > div {
        background: #ddd;
        height: 180px;
        background-size: 100% auto;
        margin: 0 0 .5rem 0;
        cursor: pointer;
    }
    h3 {
        margin-bottom: 1.5rem;
    }
}

// CONTENT BLOCK - SLIDER
// - - - - - - - - - - - - - - - - - - - - - - - - -

.slider-block {
	width: 100%;
    padding: 0 ($column-gutter/2);
    @media #{$small-only} {
        margin: -1rem 0 0 0;
        padding: 0;
    }
    &.full-width {
    	margin: 0;
    	padding: 0;
    }

}

// FOOTER
// - - - - - - - - - - - - - - - - - - - - - - - - -

// footer {
//     visibility: hidden;
// }



// SIDEBAR
// - - - - - - - - - - - - - - - - - - - - - - - - -

label, input[type="file"], input[type="checkbox"], input[type="radio"], select {
    margin: 0 !important;
}




.sticky {
    animation-duration: 0.8s;
    animation-name: fadeIn;    
}