@import "_variables";

// Include External Font Stylesheets
// @import "http://fast.fonts.net/cssapi/55cb1f1f-d8f2-4fb5-8c39-b596ce482ef4.css";

// Include Typography Styles
@import "partials/_typography";


.mce-content-body {

	margin: 10px 16px;

	p {
		margin-top:0;
	}
	
}

