body.login {}

#login {} /* the form box */

/*
This is the Wordpress logo in the admin area.
You'll have to load your own images and mess
with the width and height.
*/
.login h1 a {
	background: url(../assets/img/device-icons/homescreen-196x196.png) no-repeat top center; /* make sure to replace this! */
	width: 326px;
	height: 150px;
	background-size: auto 100%;
	text-indent: -9999px;
	overflow: hidden;
	padding-bottom: 15px;
	display: block;
}

/*
You'll have to override some of the default styles
but since we're referencing the id, it should be easy.
*/
#wp-submit {} /* login button*/