@import "../_variables";

// TYPO

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	padding: 0; 
	margin: 0; 
	margin-top: 0; 
	margin-bottom: 0; 
	margin-left: 0;
	margin-right: 0;
	font-weight: inherit;
	display: inline;
}

body {
	// font-family: $sans-font;
}

p {
	margin-bottom: .75rem;
}

p, .main-content ul, .main-content ol, .mce-content-body ul, .mce-content-body ol {  
	font-size: 14px;
	font-family: $sans-font;
	font-weight: 300;
}

strong {
	
}

.heading-one { 
	font-family: $heading-one;
	font-size: 34px !important; 
	font-weight: bold;
	display: block;
}

.heading-two { 
	font-family: $heading-two;
	font-size: 37px !important;
	font-weight: bold;
	display: block;
}

.heading-three { 
	font-family: $heading-three;
	font-size: 27px !important;
	font-weight: bold;
	display: block;
}

.heading-four { 
	font-family: $heading-four;
	font-size: 23px !important;
	font-weight: bold;
	display: block;
}

.heading-five { 
	font-family: $heading-five;
	font-size: 18px !important;
	font-weight: bold;
	display: block;
}

.heading-six { 
	font-family: $heading-six;
	font-size: .9rem;
	font-weight: bold;
	display: block;
}

// @each $selector-one, $selector-two in	

// ('h1','.heading-one'),
// ('h2','.heading-two'),
// ('h3','.heading-three'),
// ('h4','.heading-four'),
// ('h5','.heading-five'),
// ('h6','.heading-six')

// {

// #{$selector-one}.primary-color, #{$selector-one}.primary-color a, #{$selector-two}.primary-color, #{$selector-two}.primary-color a { color: $primary-color; }
// #{$selector-one}.secondary-color, #{$selector-one}.secondary-color a, #{$selector-two}.secondary-color, #{$selector-two}.secondary-color { color: $secondary-color; }
// #{$selector-one}.base, #{$selector-one}.base a, #{$selector-two}.base, #{$selector-two}.base a { color: $base-text-color; }
// #{$selector-one}.base-diap, #{$selector-one}.base-diap a, #{$selector-two}.base-diap, #{$selector-two}.base-diap a { color: $base-text-color-diap; }

// }

// p, .primary-font, .primary-font p { font-family: $serif-font; }
// .secondary-font, .secondary-font p { font-family: $sans-font; }

// a.nostyle { color: inherit; text-decoration: none; }


// Typekit Load Styles

// .wf-loading .heading-one, .wf-loading .heading-two {
// 	visibility: hidden;
// }
 
// .wf-active .heading-one, .wf-active .heading-two {
//  	visibility: visible;
// }



