
    // COMMON ELEMENTS

    // Buttons
    
    .place-order .button, .checkout-button {
        @include button-style($bg: $success-color, $bg-hover: $success-button-bg-hover, $border-color: $success-button-border-color);
    }
    .add_to_cart_button, .woocommerce-message .button {
         @include button-size($padding:$button-tny);
         font-weight: bold;
    }


    // CATALOG

    // Make catalog typo play nice    

    h3 { @extend .heading-six; }

    .price { display: block; }


    // Sale badge
    
    .onsale { position: absolute; }
    
    // Set nice margins

    ul.products {
        li {
            position: relative;
            
            padding-bottom: 4rem;
            margin-bottom: 1rem;

            .button {
                position: absolute;
                bottom: 0;
            }
        }
    }

    .woocommerce-pagination ul {
        @include pagination;
    }


    // PRODUCT

    .entry-title { @extend .heading-one; }

    
    // CHECKOUT

    .checkout {

        // Make dynamically appearing block invisible by default

        div.create-account, .shipping_address {
            @extend .hide;
        }


        p {
            margin-bottom: .9rem;
            input, select, textarea {
                margin: 0;
            }
        }


        ul li {
            list-style-type: none;
        }


        fieldset {
            margin: 0;
            background: #F9F9F9;
            padding: 1rem 1.25rem;
            @media #{$small-only} {
                padding: 0;
                background: #FFF;
                border: 0;
                margin: 0 0 1rem 0;
            }
            @media #{$medium-only} {
                margin: 0 0 1rem 0;
            }
        }
        label {
            margin-bottom: .1rem;
        }
        table.shop_table {
            width: 100%;
            th {
                width: 64%;
                vertical-align: top;
            }
            tr {
                width: 36%;
                vertical-align: top;
            }
            small {
                display: block;
                font-weight: normal;
                line-height: 1.6;
            }
        }
        ul.payment_methods {
            margin: 0;
            padding: .2em 1em 1em 1em;
            p {
                font-size: 0.875rem;
            }
        }
        .select2-container .select2-choice {
            height: 2.3125rem;
            .select2-chosen {
                line-height: 2.3125rem;
            }
        }
    }

    // CART

    &.woocommerce-cart {

        form {
            border: 1px solid #ddd;
        }

        // Cart table

        table.shop_table.cart {

            // Global stuff

            width: 100%;
            border: 0;
            margin: 0;

            // Remove button

            td.product-remove {
                text-align: center;
            }

            // Quantity input

            td.product-quantity {
                input {
                    margin: 0;
                    height: 30px;
                    width: 50px;
                    float: left;
                    text-align: center;
                    padding: 0.2rem;
                }
                input[type="button"] {
                    width: 30px;
                }
            }


            // Hide product image

            .product-thumbnail {
                display: none;
            }
            
            // Responsive cart table

            @media #{$medium-only} {
                .product-price {
                    display: none;
                }
            }
            @media #{$small-only} {
                .product-thumbnail, .product-price, .product-quantity {
                    display: none;
                }
            }

            
            // Set margins of buttons to 0

            .button, input[type="button"] {
                margin: 0;
            }

            

            // .checkout-button {
            //     float: right;
            // }

        }

        // Make checkout button and totals appear on right side of the page

        .cart-collaterals .cart_totals {
            > * {
                float: right;
                clear: right;
            }
        }
    }
    input[type="checkbox"] + label, input[type="radio"] + label {
        display: inline-block;
   
    }

    
    // PRICE FILTER WIDGET

    /**
     * Price filter widget
     */
    .widget_price_filter {

        

        #min_price, #max_price {
            display: none;
        }
        
        .price_slider {
            margin-bottom: 1em;
        }

        .price_slider_amount {
            text-align: right;
            line-height: 2.4;
            font-size: 0.8751em;

            .button {
                font-size: 1.15em;
            }

            .button {
                float: left;
            }
        }

        .ui-slider {
            position: relative;
            text-align: left;
            margin-left: .5em;
            margin-right: .5em;
        }

        .ui-slider .ui-slider-handle {
            position: absolute;
            z-index: 2;
            width: 1em;
            height: 1em;
            background-color: $primary-color;
            border-radius: 1em;
            cursor: ew-resize;
            outline: none;
            top: -.3em;

            //&:last-child {
                margin-left: -.5em;
            //}
        }

        .ui-slider .ui-slider-range {
            position: absolute;
            z-index: 1;
            font-size: .7em;
            display: block;
            border: 0;
            border-radius: 1em;
            background-color: $primary-color;
        }

        .price_slider_wrapper .ui-widget-content {
            margin-top: 1.5rem;
            border-radius: 1em;
            background-color: $primary-color - #444;
            border: 0;
        }

        .price_slider_wrapper {
            .button { display: none; }
        }

        .ui-slider-horizontal {
            height: .5em;
        }

        .ui-slider-horizontal .ui-slider-range {
            top: 0;
            height: 100%;
        }

        .ui-slider-horizontal .ui-slider-range-min {
            left: -1px;
        }

        .ui-slider-horizontal .ui-slider-range-max {
            right: -1px;
        }
    }